# Activer le module de réécriture
RewriteEngine On

# Définir le répertoire de base
RewriteBase /utilisateur/

# Règles pour les fichiers et dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes vers index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
